<title>Change Password</title>
{% extends 'layout.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/user_inquiry.css' %}">

<link rel="stylesheet" href="{% static 'css/preloader.css' %}">
<script src="{% static 'js/preloader.js' %}"></script>
<div class="preloader">
    <img src="{% static 'images/preloader.gif' %}" alt="Preloader" />
</div>

<div class="inquiry-container mt-5">
    {% if user.is_authenticated %}
        {% if True %}
            <div class="edit-appointment-card">
                <h2 class="mt-1 mb-4">Change Password</h2>
                <form method="post" action="{% url 'user_changes_password' %}">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required data-eye>
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password" required data-eye>
                        <div id="passwordLengthError" class="invalid-feedback" style="display: none;">Password should be at least 8 characters long</div>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="new_password2" name="confirm_password" required data-eye>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
            </div>
        {% endif %}
    {% else %}
        <div class="edit-appointment-card text-center">
            <h1 class="mb-4">You Are Not Signed In!</h1>
            <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
        </div>
    {% endif %}
</div>

<script src="{% static 'js/my-login.js' %}"></script>


{% endblock %}
