<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Contacting Us</title>
</head>

<body style="font-family: 'Arial', sans-serif;">
    <!-- Logo Section -->
    <div style="text-align: center; padding: 20px; background-color: #ffffff;">
        <a href="https://imgbb.com/">
            <img src="https://i.ibb.co/R4HZmC8V/logo.jpg" 
             alt="logo" 
             border="0" 
             width="300" 
             height="300" 
             style="width: 300px; height: 300px; display: block; margin: 0 auto;">
        </a>
        </div>

    <div style="padding: 20px;">
        <p style="color: #333; font-size: 16px;">
            Hello {{ name }},
        </p>

        <p style="color: #333; font-size: 16px;">
            Thank you for getting in touch with us! Your message has been received, and we'll get back to you shortly.
        </p>

        <p style="color: #333; font-size: 16px;">
            Best regards,<br>
           SewaGhar
        </p>
    </div>

</body>

</html>
