<!DOCTYPE html>
<html lang="en">

<body style="font-family: 'Arial', sans-serif; color: #333;">
    <!-- Logo Section -->
    <div style="text-align: center; padding: 20px; background-color: #ffffff;">
       <a href="https://imgbb.com/">
            <img src="https://i.ibb.co/R4HZmC8V/logo.jpg" 
             alt="logo" 
             border="0" 
             width="300" 
             height="300" 
             style="width: 300px; height: 300px; display: block; margin: 0 auto;">
        </a>
        </div>
    <div style="margin: 20px;">
        <p style="font-size: 16px;">You have a new contact form submission:</p>
        <ul style="list-style: none; padding: 0; font-size: 16px;">
            <li><strong>Name:</strong> {{ name }}</li>
            <li><strong>Phone Number:</strong> {{ phone_number }}</li>
            <li><strong>Email:</strong> {{ email }}</li>
            <li><strong>Message:</strong> {{ message }}</li>
        </ul>
    </div>

</body>

</html>
