{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <script src="{% static 'js/sweetalert2@11.js'%}"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <script src="{% static 'js/preloader.js' %}"></script>
    <title>Admin Dashboard</title>

    {% block head %} {% endblock %}
    <style>
        body {
            padding-top: 0;
            margin-top: 0;
            background-color: #f8f9fa;
            color: #495057;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
        }

        header {
            background-color: #1b2a4e;
            color: white;
            padding: 10px;
            font-family: 'Arial', sans-serif;
        }

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .navbar-nav .nav-item {
            margin-right: 15px;
        }

        .navbar-nav .nav-link {
            color: white;
            font-weight: bold;
            transition: color 0.3s;
        }

        .navbar-nav .nav-link:hover {
            color: #dfeeff;
        }

        .navbar-toggler-icon {
            color: white;
        }

        .alert {
            margin-top: 20px;
        }

        .list-group-item {
            background-color: #e9ecef;
        }

        .card {
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: none;
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #0056b3;
            border-color: #0056b3;
            border-radius: 0;
        }

        .btn-primary:hover {
            background-color: #003c80;
            border-color: #003c80;
        }

        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        @media (max-width: 768px) {

        }

    </style>
    <!-- Include SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'admin_default' %}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_default' %}">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_users' %}">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href= "{% url 'admin_serviceproviders' %}">
                            Service Providers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href= "{% url 'admin_staffrequest' %}">
                            Service Provider Requests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_feedback' %}">
                            Feedback
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_disputes' %}">
                            Disputes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="confirmLogout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="preloader">
        <img src="{% static 'images/preloader.gif' %}" alt="Preloader" />
    </div>
  
    <div id="tier-section" class="content-section">
        <!-- ... Content specific to Vendors ... -->
        <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
            <h1 class="text-center mt-5 mb-5">Service Provider Panel</h1>
            <input class="form-control form-control-lg fs-3 border border-primary" id="myInput2" type="text"
                placeholder="Search Service Providers">
            <br>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover mx-auto">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Name</th>
                            <th class="text-center" scope="col">Contact Number</th>
                            <th class="text-center" scope="col">Service</th>
                            <th class="text-center" scope="col">Average Rating</th>
                            <th class="text-center" scope="col">Tier</th>
                            <th class="text-center" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for item in items %}
                        <tr>
                            <td class="text-center">{{item.name}}</td>
                            <td class="text-center">{{item.contact_number}}</td>
                            <td class="text-center">{{item.service}}</td>
                            <td class="text-center">{{item.average_rating}}</td>
                            <td class="text-center">
                                <select class="form-control set-tier" data-user-id="{{ item.id }}">
                                    <option value="bronze" {% if item.tier == "bronze" %}selected{% endif %}>Bronze</option>
                                    <option value="silver" {% if item.tier == "silver" %}selected{% endif %}>Silver</option>
                                    <option value="gold" {% if item.tier == "gold" %}selected{% endif %}>Gold</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-warning update-btn">Update</button>
                                <a href="#" class="btn btn-danger delete-btn" data-user-id="{{ item.id }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Function to show SweetAlert confirmation
        function confirmDelete(itemId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'The service provider will loose account access !',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user clicks "Yes," redirect to the delete URL
                    window.location.href = "{% url 'delete-user' 0 %}".replace('0', itemId);
                }
            });
        }
    
        // Add an event listener to the "Delete" button
        document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('.delete-btn');
    
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    // Prevent the default behavior of the link
                    event.preventDefault();
    
                    // Get the user ID from the data attribute or other means
                    var userId = button.getAttribute('data-user-id');
    
                    // Call the confirmDelete function with the user ID
                    confirmDelete(userId);
                });
            });
        });
    </script>   
    <script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    Swal.fire({
                        title: 'Error',
                        text: '{{ message|escapejs }}',
                        icon: 'error',
                        confirmButtonColor: '#007bff',
                    });
                {% elif message.tags == 'success' %}
                    Swal.fire({
                        title: 'Success',
                        text: '{{ message|escapejs }}',
                        icon: 'success',
                        confirmButtonColor: '#007bff',
                    });
                {% endif %}
            {% endfor %}
    
            // Clear Django messages after displaying them
            {% for message in messages %}
                {# Iterate through the messages to clear them #}
            {% endfor %}
        {% endif %}
    </script>
    <script>
        $(document).ready(function () {
            $('.update-btn').on('click', function (e) {
                e.preventDefault();
                console.log('Update button clicked!');
                var userId = $(this).closest('tr').find('.set-tier').data('user-id');
                console.log('User ID:', userId);
    
                var newTier = $(this).closest('tr').find('.set-tier').val();
    
                Swal.fire({
                    title: 'Confirm Update',
                    text: `Are you sure you want to update the tier to ${newTier}?`,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, update!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Updating...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onOpen: () => {
                                Swal.showLoading();
                            }
                        });
    
                        $.ajax({
                            url: "{% url 'update_vendor_tier'%}",
                            method: 'POST',
                            data: {
                                user_id: userId,
                                new_tier: newTier,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function (response) {
                                console.log(response); // Check the response in the browser's console
    
                                // Inspect the response and adjust the condition accordingly
                                if (response && response.message === 'Vendor tier updated successfully') {
                                    Swal.fire({
                                        title: 'Update successful',
                                        icon: 'success'
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Update failed',
                                        text: 'Failed to update vendor tier.',
                                        icon: 'error'
                                    });
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                Swal.fire({
                                    title: 'Update failed',
                                    text: 'Failed to update vendor tier.',
                                    icon: 'error'
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
<script>
    function filterTable(inputId, tableId) {
        const input = document.getElementById(inputId);
        const table = document.getElementById(tableId);

        if (input && table) {
            input.addEventListener('input', function () {
                const filter = this.value.toUpperCase();
                const rows = table.querySelectorAll('tbody tr');

                rows.forEach(function (row) {
                    const cells = row.getElementsByTagName('td');
                    let shouldShow = false;

                    for (let i = 0; i < cells.length; i++) {
                        const cellText = cells[i].textContent || cells[i].innerText;
                        if (cellText.toUpperCase().indexOf(filter) > -1) {
                            shouldShow = true;
                            break;
                        }
                    }

                    row.style.display = shouldShow ? "" : "none";
                });
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        filterTable('myInput', 'myTable');
        filterTable('myInput2', 'myTable');
    });
</script>

    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You will be logged out',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, logout'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'login-admin' %}"; // Redirect to logout URL
                }
            });
        }
    </script>
</body>

</html>
